@page
@model PrivacyModel
@{
    ViewData["Title"] = "Приватная страница";
}

@* Заголовок *@
<div class="d-flex flex-row-reverse p-1 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
<p>На этой странице подробно изложена политика конфиденциальности вашего сайта.</p>
</div>
